# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Si estás usando PyCharm
.idea/
*.iml
*.iws
*.ipr

# Si estás usando VS Code
.vscode/
*.code-workspace

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Archivos de respaldo
*.bak
*.swp
*~

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de caché
.cache/
.pytest_cache/
.coverage
htmlcov/