{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <h4>{{ title }}</h4>
      <!--<a href="/portal/dashboard" class="nav-link">{{ request.user.get_establecimiento }}</a>-->
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <!--<a href="#" class="nav-link">Supervisar</a>-->
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a id="reloj" style="font-size: large;"></a>
    </li>
  </ul>
</nav>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-secondary elevation-4">

  <!-- Brand Logo -->
  <a href="#" class="brand-link text-m">
    <img src="{% static 'img/LOGO.png' %}" alt="FlowTrack"
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light" >FlowTrack</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">

        <!--<img src="{{ request.user.get_photo }}" class="img-circle elevation-2" alt="User Image">-->
        <!--<img src="{{ request.user.get_photo }}" class="img-circle elevation-2" alt="User Image">-->
        <img src="{% static 'img/user-logo.png' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#">{{ user_name }}</a>
        <!--<a href="#" class="d-block">{{ request.user.get_short_name }}</a>-->
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent text-sm" data-widget="treeview" role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-close">
          <a href="{%url 'Dashboard'%}" class="nav-link">
            <!--<i class="nav-icon fa fa-user-md"></i>-->
            <i class="nav-icon fa fa-chart-line"></i>
            <p>
              Dashboard
              <!--<i class="right fas fa-angle-left"></i>-->
            </p>
          </a>
        </li>
        <!--
        <li class="nav-item has-treeview menu-close">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-laptop"></i>
            <p>
              Setup
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
                    
            </li>
          </ul>
          
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Consulta</p>
              </a>
            </li>
          </ul>-->
        </li>


        <li class="nav-item has-treeview menu-close">
          <a href="#" class="nav-link">
            <i class="nav-icon  fa fa-road"></i>
            <p>
              Intersection
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            {% for intersection in intersectionsList %}
      <li class="nav-item">
        <a href="{% url 'intersection_list' intersection.pk %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>{{ intersection.name }}</p>
        </a>
      </li>
    {% endfor %}
          </ul>
        </li>

        <li class="nav-item has-treeview menu-close">
          <a href="#" class="nav-link">
            <!--<i class="nav-icon fas fa-diagnoses"></i>-->
            <i class="fa-light fa-file-chart-column"></i>
            <i class="nav-icon fa fa-cloud"></i>
            <p>
              Counting
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{%url 'report'%}" class="nav-link">
                <i class="far fa-clipboard nav-icon"></i>
                <p>Reports</p>
              </a>
            </li>
          </ul>
        </li>   
       
        <li class="nav-item">
          <a href="{%url 'logout'%}" class="nav-link">
            <i class="nav-icon fa fa-power-off"></i>
            <p>
              Logout
              <!--<span class="right badge badge-danger">New</span>-->
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>


<script>
  /**
 * Muestra la hora del 
 * servidor en tiempo real 
 * en el formato de 12 horas
 */
const HORA = () => {

// Constante que almacena el id del elemento donde
// se va a mostrar el reloj
const ID_ELEMENT = document.getElementById("reloj");

// Función que añade un cero a la izquierda
// a la hora, minutos y segundos cuando el
// valor de estos es inferior a 10 
const CERO = n => n = n < 10 ? "0"+n: n;
let hora, minutos, segundos, meridiano;

// Funcion que retorna el Reloj
const RELOJ = () => {
    const DATE = new Date();
    hora = DATE.getHours();
    console.log(hora);
    minutos = DATE.getMinutes();
    segundos = DATE.getSeconds();

    // Determinar el meridiano
    meridiano = hora < 12 ? "am" : "pm";

    // Dar formato de 12 horas ya que por defecto el formato es de 24 horas
    //hora = hora == 0 ? 12 : hora || hora > 12 ? hora -= 12 : hora;

    return (
        ID_ELEMENT.textContent = 
        `${CERO(hora)}:${CERO(minutos)}:${CERO(segundos)} ${meridiano}`
    );
}

// Llama a la función RELOJ cada segundo
// para que se vaya actualizando la hora
return setInterval(RELOJ, 1000);
}

// Llama a la funcion HORA cuando el DOM se haya cargado
document.addEventListener("DOMContentLoaded", HORA);


</script>