<!-- templates/prescription_form.html -->
{% extends 'base/body.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Crear Receta</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Completa la Receta</h2>
    <!-- Mostrar datos del doctor seleccionado -->
    <div class="card mb-3">
        <div class="card-body">
            <h4>Doctor Seleccionado:</h4>
            <p><strong>Nombre:</strong> {{ doctor.name }}</p>
            <p><strong>Especialidad:</strong> {{ doctor.specialty }}</p>
        </div>
    </div>
    <!-- Mostrar datos del paciente seleccionado -->
    <div class="card mb-3">
        <div class="card-body">
            <h4>Paciente Seleccionado:</h4>
            <p><strong>Nombres:</strong> {{ patient.first_names }}</p>
            <p><strong>Apellidos:</strong> {{ patient.last_names }}</p>
            <p><strong>Identificación:</strong> {{ patient.id_card }}</p>
        </div>
    </div>
    <!-- Botón para regresar a la selección de paciente para receta -->
    <div class="mb-3">
        <a href="{% url 'patient-selection-prescription' %}?doctor_id={{ doctor.id }}" class="btn btn-secondary">Regresar a Selección de Paciente</a>
    </div>
    <!-- Formulario para subir el PDF de la receta -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Guardar Receta</button>
    </form>
</div>
{% endblock %}